* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header .header_upgrade {
  width: calc(100% - 200px);
  height: 90px;
  background-color: black;
  top: 0;
  left: 200px;
  z-index: 1;
  position: fixed;
}
.header_upgrade a{
  float: right;
  color: white;
  margin: 25px 70px;
  padding: 0.5em 2em;
  border: 1px solid white;
  border-radius: 32px;
  text-decoration: none;
}
.header_upgrade a:hover {
   transform: scale(1.2);
}
main {
  height: calc(100vh - 100px);
  position: relative;
}
/*SIDEBAR*/
.sidebar {
  width: 200px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.img_logo_sidebar img {
  width: 10rem;
  height: 7rem;
  margin: 0 1.1rem;
}

.nav_sidebar_home {
  vertical-align: middle;
}
.nav_sidebar_home:hover {
  border-left: 3px solid green;
}
.nav_sidebar_home a {
  display: block;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-left: 14%;
  margin-top: 3%;
}

.nav_sidebar_home img {
  display: inline;
  color: gray;
  height: 1.1rem;
  width: 1.1rem;
  float: left;
  margin-left: 5%;
}

.sidebar_playlist {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  margin-top: 5%;
}

.sidebar_playlist h3:hover {
  color: white;
}
.sidebar_playlist h3 {
  color: gray;
  padding: 3%;
  margin: 2%;
}

.sidebar_playlist span  {
  border: 1px solid lightgray;
  background-color: lightgray;
  height: 30px;
  width: 20px;
  padding: 5px;
  font-size: 1.5rem;
  margin: 0 0.8rem;
  color: black;
  text-decoration: none;
}

.sidebar_playlist span:hover {
  color: white;
}

.sidebar_playlist a {
  text-decoration: none;
  color: gray;
}
.sidebar_playlist a:hover {
  color: white;
}
.sidebar_playlist p {
  color: gray;
  text-decoration: none;
  font
  margin-left: 10%;
  padding: 2%;
  margin-top: 8%;
}
.sidebar_playlist P:hover {
  color: white;
}
.sidebar_footer {
  position: absolute;
  display: block;
  bottom: 10px;
}

.sidebar_install img {
  display: inline;
  color: gray;
  height: 18px;
  width: 18px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar_install a {
  display: block;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-left: 14%;
}

.sidebar_install a:hover {
  color: white;
}
.sidebar_line {
  color: gray;
  border: 1px solid white;
}
.sidebar_account {
  display: inline;
}
.sidebar_account img {
  display: inline;
  height: 18px;
  width: 18px;
  justify-content: flex-start;
  float: left;
  color: white;
  margin-left: 8px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: gray;
  margin-top: 5px;
  margin-right: 15px;
  padding: 2px;
}

.sidebar_account a {
  display: inline;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px;
  padding: 2px;

}

.sidebar_account a:hover {
  color: white;
}

/* Window */
.main-window {
  width: calc(100% - 200px);
  height: calc(100vh - 100px);
  position: relative;
  right: 0;
  padding-top: 90px;
  background-color: #121212;
  overflow-y: auto;
  padding-bottom: 20px;
  float: right;
  font-family: 'Roboto', sans-serif;
}

.window_list {
  margin-top: 10px;
  margin-left: 17%;
  width: 70%;
}
.window_list li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: gray;
}
.window_list li:hover {
  border-bottom: 2px solid green;
}

.text_window h1 {
  color: white;
  margin: 3%;
}
.window_img {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 2%;
  vertical-align: middle;
  position: relative;

}

.window_img img {
  height: 200px;
  width: 200px;
}


.window_img h3, p {
  color: white;
  text-align: center;
}
.one{
  padding: 2%;
}
.two {
  height: 40%;
  padding: 10px;
}
.two_ span {
  margin-top: 2%;
  margin-left: 3%;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.sec {
  margin-top: 35px;
}
.three {
  height: 10%;
  margin: 10% 0;
  position: relative;
}
.three_ img {
  border: 1px solid black;
  border-radius: 50%;
}
.three_ span {
 color: white;
 margin-left: 2%;
 display: flex;
 flex-wrap: wrap;
 margin-top: 20px;
}

.dis_non {
  display: none;
  position:absolute;
  bottom: 0;
  left: 0;
}

:hover .dis_non {
  display: block;
  opacity: 0.5;
}
/* music player */
.music-player {
  width: 100%;
  height: 100px;
  background-color: #2c2c2c;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.playing {
  justify-content: flex-start;
  width: 40%;
}
.playing img {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin: 10px;
}
.playing h4 {
  margin: 10px;
  display: inline-block;
  position: absolute;
  top: 20px;
  margin-top: 10px;
  color: white;
}
.playing span {
  margin: 10px;
  color: gray;
  display: inline-block;
  position: absolute;
  top: 35px;
  margin-left: 90px;
  margin-top: 10px;
}

.playing i {
  color: gray;
  display: inline-block;
  position: absolute;
  top: 35px;
  margin-left: 190px;
  margin-top: 10px;
}
i .fa-folder-o {
  left: 20px;
}
.main_control {
  justify-content: center;
  margin-left: auto;
  width: 40%;
}

.puls_control {
  color: white;
}
.puls_control i {
  padding: 20px;
  display:  inline-block;
}
.range_song {
  border: 3px solid gray;
  width: 320px;
  border-radius: 15px;
}
.side_control {
  justify-content: flex-end;
  width: 20%;
}
  .vol-control {
  color: white;
  margin-right: 50px;
  margin-top: 30px;
}
.vol-control i {
  padding: 5px;
  display: inline-block;
}

.range_song_vol {
  border: 3px solid gray;
  width: 100px;
  position: absolute;
  right: 5px;
  margin-right: 20px;
  top: 42px;
  border-radius: 15px;
}
footer {
  width: 100%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
}
.logo_small {
  display: none;
}

/*media queery */

@media screen and (max-width: 768px) {
  header .header_upgrade {
    width: calc(100% - 100px);
    left: 100px;
  }
  .main-window {
    width: calc(100% - 100px);
  }
  .logo_small {
    display: block;
    height: 60px;
    width: 60px;
  }
.nav_sidebar_home {
  display: flex;
  flex-wrap: wrap;
}
.nav_sidebar_home img {
  margin-top: 20px;
  height: 40px;
  width: 40px;
}
  .img_logo_sidebar {
    display: none;
  }

  .sidebar {
    width: 100px;

  }
  .nav_sidebar_home a {
    display: none;
  }


  .sidebar_playlist {
    display: none;
  }
  .sidebar_footer {
    display: block;
    padding: 5px;
  }
.sidebar_install img {
  height: 30px;
  width: 30px;
  margin: 5px 0px;
}
  .sidebar_install a {
    display: none;
  }
  .sidebar_account img {
    height: 30px;
    width: 30px;
    margin-left: 0px;
    display: block;
  }
  .sidebar_install img:hover {
    transform: scale(1.2);
  }
  .sidebar_account img:hover {
    transform: scale(1.2);
  }
  .sidebar_account a {
    display: none;
  }
  .puls_control {
    margin: 5px 50px;
}
.range_song {
  width: 60%;
  margin: 10px 50px;
}
   .puls_control i {
     padding: 5px;
     text-align: center;
   }
.vol-control {
    margin: 0;
  }

}
