* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header .header_upgrade {
  width: calc(100% - 200px);
  height: 90px;
  background-color: black;
  top: 0;
  left: 200px;
  z-index: 1;
  position: fixed;
}
.header_upgrade a{
  float: right;
  color: white;
  margin: 25px 70px;
  padding: 0.5em 2em;
  border: 1px solid white;
  border-radius: 32px;
  text-decoration: none;
}

/*SIDEBAR*/
.sidebar {
  width: 200px;
  height: calc(100vh - 90px);
  background-color: black;
  position: relative;
}

.img_logo_sidebar img {
  width: 10rem;
  height: 7rem;
  margin: 0 1.1rem;
}

.nav_sidebar_home {
  vertical-align: middle;
}
.nav_sidebar_home:hover {
  border-left: 3px solid green;
}
.nav_sidebar_home a {
  display: block;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-left: 14%;
  margin-top: 3%;
}

.nav_sidebar_home img {
  display: inline;
  color: gray;
  height: 1.1rem;
  width: 1.1rem;
  float: left;
  margin-left: 5%;
}

.sidebar_playlist {
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  margin-top: 5%;
}

.sidebar_playlist h3:hover {
  color: white;
}
.sidebar_playlist h3 {
  color: gray;
  padding: 3%;
  margin: 2%;
}

.sidebar_playlist span  {
  border: 1px solid lightgray;
  background-color: lightgray;
  height: 30px;
  width: 20px;
  padding: 5px;
  font-size: 1.5rem;
  margin: 0 0.8rem;
  color: black;
  text-decoration: none;
}

.sidebar_playlist span:hover {
  color: white;
}

.sidebar_playlist a {
  text-decoration: none;
  color: gray;
}
.sidebar_playlist a:hover {
  color: white;
}
.sidebar_playlist p {
  color: gray;
  text-decoration: none;
  font
  margin-left: 10%;
  padding: 2%;
  margin-top: 8%;
}
.sidebar_playlist P:hover {
  color: white;
}
.sidebar_install {
  margin-top: 50%;
}
.sidebar_install img {
  display: inline;
  color: gray;
  height: 1.5rem;
  width: 1.5rem;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

.sidebar_install a {
  display: block;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-left: 14%;
}
.sidebar_line {
  margin-top: 7%;
  color: gray;
  border: 1px solid white;
}
.sidebar_account {
  padding: 5%;
}
.sidebar_account img {
  display: inline;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: gray;
}

.sidebar_account a {
  display: block;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-left: 14%;
}

/* Window */
.main-window {
  width: calc(100% - 200px);
  height: calc(91vh - 90px);
  position: absolute;
  right: 0;
  top: 90px;
  background-color: #121212;
  overflow-y: auto;
  padding-bottom: 20px;

}
.window_list {
  margin-top: 10px;
  margin-left: 17%;
  width: 70%;
}
.window_list li {
  display: inline;
  padding: 2%;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: gray;
}
.window_list li:hover {
  border-bottom: 2px solid green;
}

.text_window h1 {
  color: white;
  margin: 3%;
}
.window_img {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 2%;
  vertical-align: middle;
}

.window_img img {
  height: 200px;
  width: 200px;
}


.window_img h3, p {
  color: white;
  text-align: center;
}

.two {
  height: 40%;
  padding: 10px;
}
.two_ span {
  margin-top: 2%;
  margin-left: 3%;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.sec {
  margin-top: 35px;
}
.three {
  height: 10%;
  margin: 10% 0;
}
.three_ img {
  border: 1px solid black;
  border-radius: 50%;
}
.three_ span {
 color: white;
 margin-left: 2%;
 display: flex;
 flex-wrap: wrap;
 margin-top: 20px;
}
/* music player */
.music-player {
  width: 100%;
  height: 90px;
  background-color: green;
  position: fixed;
  bottom: 0;
}
